body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #000000;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 2px 8px rgb(255, 255, 255);
}

.input-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-button {
    padding: 10px 20px;
    background-color: #66d15e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #4CAF50;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    display: flex;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.delete-button {
    padding: 8px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1rem;
}